<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Decostruire</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
  <!-- Custom styles & templating engine -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Javascript -->
  <script type="text/javascript" src="/js/index.js" defer>

  </script>
</head>
