<%- include('./includes/head.ejs') %>

<body class="background-image">
  <%- include('./includes/navigation.ejs') %>
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="row">
        <div class="col">
          <h1 style="text-align: right;font-family: 'Advent Pro', sans-serif;color: #828282;">Contact Us</h1>
        </div>
    </div>
    <div class="col" style="text-align: center;">
      <h3>Success!</h3>
      <button type="button" onclick="window.location.href='/'">Come Back</button>
    </div>
  </div>
  </div>
  <%- include('./includes/footer.ejs') %>
</body>
