<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="row">
        <div class="col">
          <h1 style="text-align: right;font-family: 'Advent Pro', sans-serif;color: #828282;">Decostruire</h1>
        </div>
      </div><img src="images/fashion.jpg">
    </div>
    <div class="col" style="text-align: center;">
      <div class="row">
        <h1 style="text-align: left;font-family: 'Advent Pro', sans-serif;color: #828282;">Gallery</h1>
      </div><img src="images/red.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="row">
        <div class="col"><img src="images/lipstick.jpg" class="banner"></div>
        <div class="col"><img src="images/vanity.jpg" alt="woman in vintage bathroom"></div>
      </div>
      <div class="row">
        <div class="col"><img src="images/blankwall.jpg"></div>
        <div class="col"><img src="images/veil.jpg"></div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <%- include('./includes/footer.ejs') %>
</body>

</html>
