<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <!-- Hero -->
  <div class="jumbotron text-center hero-background-img">
    <h1 class="over-img-text">Decostruire</h1>
    <p class="lead over-img-text">Deconstruction</p>
    <p class="over-img-text">A new era of artistry</p>
    <a href="/gallery" class="btn btn-primary">Visit Gallery</a>
  </div>
  </div>
  <!-- Call to Action -->
  <div class="jumbotron text-center mb-0">
    <p class="lead mb-4">Sign Up to join the Movement</p>
    <div class="d-flex justify-content-center">
      <form action="#" class='form-inline'>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" />
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
  <%- include('./includes/footer.ejs') %>
</body>

</html>
