<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <!-- Hero -->
  <div class="jumbotron text-center hero-background-img">
    <h1 class="over-img-text">Decostruire</h1>
    <p class="lead over-img-text">Deconstruction</p>
    <p class="over-img-text">A new era of artistry</p>
    <a href="/gallery" class="btn btn-primary">Visit Gallery</a>
  </div>
  <!-- Imagery & Engagement -->
  <div class="jumbotron text-center engage-background-img">
    <h1 class="over-img-text">A new age</h1>
    <p class="over-img-text">Breaking down what art "should" be.</p>
    <a href="/about" class="btn btn-primary">About Us</a>
  </div>
  <!-- Video 1-->
  <div class="row d-flex align-items-center justify-content-center mb-4">
    <div class="col-sm-8 align-items-center">
      <h3 class="mb-4">People who inspire us:</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-z-Zn00n6lA"></iframe>
      </div>
    </div>
</div>
<!-- Video 2 -->
<div class="row d-flex align-items-center justify-content-center mb-4">
  <div class="col-sm-8 align-items-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x4F_7SjE7Gcz"></iframe>
    </div>
  </div>
</div>
<!-- CTA -->
<div class="jumbotron text-center mb-4">
  <p class="lead mb-4">Sign Up to join the Movement</p>
  <div class="d-flex justify-content-center">
    <form action="#" class='form-inline'>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" />
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
  <%- include('./includes/footer.ejs') %>
</body>

</html>
