* {
  font-family: 'Advent Pro';
}

.form-group {
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
}

.background-image::before {
  content: "";
  background: url("/images/ghost.jpg");
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-size: cover;
  align-content: center;
  repeat: repeat;
}

.background-image {
  background: url("/images/ghost.jpg");
}

.main-about {
  padding: 25px;
}

.main-about h2, p {
  padding: 15px;
}

.main-about p {
  width: 100%;
  font-size: 1.25rem;
}

.highlight-phone {
  background: url("/images/darksky.jpg");
}

.btn .btn-primary {
  background: rgb(79,80,82);
  margin: 25px;
}

.carousel-item {
  margin-top: 15px;
  padding: 15px;
}

.gallery-img {
  max-width: 45vw;
  margin: 15px 5px 15px 5px;
}

.w-100 .d-block {
  margin-top: 15px;
}

.over-img-text {
  color: #fff;
}

.navbar {
  padding: 0rem;
  background-color: transparent;
  color: #fff;
  border: none;
  text-shadow: none;
}

.navbar .nav-link {
  border: none;
}

.navbar-nav .nav-link {
  color: #fff;
}

.nav-link-active {
  opacity: 0.25;
}

.footer {
  padding: 2rem;
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.btn-primary:hover {
  opacity: 25%;
}

.hero-background-img {
  background-image: url("/images/ghost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.engage-background-img {
  background-image: url("/images/blankwall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.col {
  align-items: center;
  justify-content: center;
}
