.over-img-text {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar {
  padding: 0rem;
  background-color: transparent;
  color: #fff;
}

.navbar .nav-link {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-link-active {
  opacity: 0.25;
}

.footer {
  padding: 2rem;
  background-color: transparent;
  color: #fff;
}

.btn-primary:hover {
  opacity: 25%;
}

.hero-background-img {
  background-image: url("/images/ghost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.hero-background-img:after {
  content: "";
  background-image: url("/images/ghost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}
