* {
  font-family: 'Advent Pro';
}

iframe {
  z-index: -3;
}

.gallery-heading {
  text-align: right;
  font-family: 'Advent Pro', sans-serif;
  color: #828282;
  padding: 15px;
  margin-top: 100px;
  margin-bottom: 15px;
}

.form-group {
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
}

.background-image::before {
  content: "";
  background: url("/images/ghost.jpg");
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-size: cover;
  align-content: center;
  repeat: repeat;
}

.background-image {
  background: url("/images/ghost.jpg");
}

.main-about {
  padding: 25px;
}

.main-about h2, p {
  padding: 15px;
}

.main-about p {
  width: 100%;
  font-size: 1.25rem;
}

.highlight-phone {
  background: url("/images/darksky.jpg");
}

.btn .btn-primary {
  background: rgb(79,80,82);
  margin: 25px;
}

.carousel-item {
  margin-top: 15px;
  padding: 15px;
}

.gallery-img {
  max-width: 45vw;
  margin: 15px 5px 15px 5px;
}

.w-100 .d-block {
  margin-top: 15px;
}

.over-img-text {
  color: #fff;
}

.navbar {
  padding: 4px;
  margin-bottom: 15px;
  background-color: transparent;
  color: #fff;
  border: none;
  text-shadow: none;
}

.navbar .nav-link {
  border: none;
}

.navbar-nav .nav-link {
  color: #fff;
}

.nav-link-active {
  opacity: 0.25;
}

.footer {
  padding: 2rem;
  background-color: transparent;
  color: #fff;
  text-align: center;
}

.btn-primary:hover {
  opacity: 25%;
}

.hero-background-img {
  background-image: url("/images/ghost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.engage-background-img {
  background-image: url("/images/blankwall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

.col {
  align-items: center;
  justify-content: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  background: #272b30;
  transition: transform 0.4s;
}

.page-header #navbar {
  background-color: #272b30;
}

/*CUSTOM VARIABLES HERE*/

.trigger-menu-wrapper {
  transition: transform 0.4s;
}

.scroll-down #navbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up #navbar {
  transform: none;
}

.scroll-up:not(.menu-open) #navbar {
  background: #272b30;
}
